
{% extends 'base.html' %}
{% load static%}
{% load compress %}
{% block title %}{{ block.super }}AR{% endblock %}





{% block container %}

<body style="background-color:#000">
<div class="container-fluid">

<h1>TEst case }B&F</h1>
	<video id="video" style="float: left; margin-right: 1em;"></video>
	<div id="list">
		<img  src="{% static 'site/img/glasses_middle.png' %}" style="width: 117px;">
		<img  src="{% static 'site/img/madera_casual.png' %}" style="width: 117px;">
		<img  src="{% static 'site/img/wally.png' %}" style="width: 117px;">
        <img  src="{% static 'site/img/wally2.png' %}" style="width: 117px;">
        <img  src="{% static 'site/img/barragan_reflex.png' %}" style="width: 117px;">
        <img  src="{% static 'site/img/lente_cafe.png' %}" style="width: 117px;">
        <img  src="{% static 'site/img/de_sol.png' %}" style="width: 117px;">
        <img  src="{% static 'site/img/ovalados.png' %}" style="width: 117px;">
	</div>

	<img id="glasses" src="{% static 'site/img/anillo.png' %}" style="position: absolute; display: block; opacity: 0.9">

</div>

</body>
{% endblock container %}


{% block scripts%}
{%  compress js %}
<script src="{% static 'object-detect/compatibility.js'%}"></script>
<script src="{% static 'object-detect/smoother.js' %}"></script>
<script src="{% static 'object-detect/objectdetect.js'%}"></script>
<script src="{% static 'object-detect/objectdetect.frontalface.js'%}"></script>



<script>


	window.onload = function() {

		var smoother = new Smoother([0.9999999, 0.9999999, 0.999, 0.999], [0, 0, 0, 0]),
			video = document.getElementById('video'),
			glasses = document.getElementById('glasses'),
			detector;

		try {
			compatibility.getUserMedia({video: true}, function(stream) {
				try {
					video.src = compatibility.URL.createObjectURL(stream);
				} catch (error) {
					video.src = stream;
				}
				compatibility.requestAnimationFrame(play);
			}, function (error) {
				alert('WebRTC not available');
			});
		} catch (error) {
			alert(error);
		}

		function play() {
			compatibility.requestAnimationFrame(play);
			if (video.paused) video.play();

			if (video.readyState === video.HAVE_ENOUGH_DATA && video.videoWidth > 0) {

	          	// Prepare the detector once the video dimensions are known:
	          	if (!detector) {
		      		var width = ~~(60 * video.videoWidth / video.videoHeight);
					var height  =60;
		      		detector = new objectdetect.detector(width, height, 1.1, objectdetect.frontalface);
		      	}

          		// Perform the actual detection:
				var coords = detector.detect(video, 1);
				if (coords[0]) {
					var coord = coords[0];
					coord = smoother.smooth(coord);

					// Rescale coordinates from detector to video coordinate space:
					coord[0] *= video.videoWidth / detector.canvas.width;
					coord[1] *= video.videoHeight / detector.canvas.height;
					coord[2] *= video.videoWidth / detector.canvas.width;
					coord[3] *= video.videoHeight / detector.canvas.height;

					// Display glasses overlay:
					glasses.style.left    = ~~(coord[0] + coord[2] * 0.3/8 + video.offsetLeft) + 'px';
					glasses.style.top     = ~~(coord[1] + coord[3] * -0.4/8 + video.offsetTop) + 'px';
					glasses.style.width   = ~~(coord[2] * 7/8) + 'px';
					glasses.style.height  = ~~(coord[3] * 7/8) + 'px';
					glasses.style.opacity = 0.7;

				} else {
					var opacity = glasses.style.opacity - 0.2;
					glasses.style.opacity = opacity > 0 ? opacity : 0;
				}
			}
		}

		[].slice.call(document.getElementById('list').children).forEach(function(e) {
			e.addEventListener('click', function() {
				glasses.src = e.src;
			}, false);
		});
	};




</script>
{%  endcompress  %}



{% endblock scripts %}
