{% extends "shop/home.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}


{% block container %}
<br><br>
<div class="container-fluid">
    <div class="no-padding">
        <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="detail"class="justified-gallery" style="background-color: white; margin-top:10px;">
            	<div>
            		<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "image/noimage.png" %}{% endif %}"  alt="<h3 class='text-center'>{{product.name}} </br>${{ product.price }}</h3>">
            	</div>
            </div>
        </div>


    </br>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-0">
    	 {% if product.author == user %}
    	 <div class="col-md-4" style="float: left;">
    	 	<a class="btn btn-primary"  href="{% url 'shop:product_edit' product.id product.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
    	 	<!-- first -->
    	 	<button type="button" class="btn btn-primary" data-toggle="popover"  data-trigger="focus" data-placement="auto" data-content="<div class='lead text-center'>
    	 	{% trans 'Are you sure you want to delete this file?'%}</div>
    	 	<div class='text-center'>
    	 	<a class='btn btn-primary btn-lg' href='{% url 'shop:product_remove' product.id product.slug %}'>
    	 	<span class='glyphicon glyphicon-ok'></span>
    	 	</a>
    	 	<a class='btn btn-danger btn-lg' style='margin:15px;' onclick='$(this).parent().hide();'>
    	 	<span class='glyphicon glyphicon-remove'></span>
    	 	</a>
    	 	</div>">
        	<span class="glyphicon glyphicon-trash"></span></button>
        	<!-- second -->
    		<!-- <div class="popover-markup">
    		    <a class="trigger btn btn-primary"><span class="glyphicon glyphicon-trash"></span></a>
    		    <div class="content hide">
    		      <div class="lead text-center">
    		        {% trans 'Are you sure you want to delete this file?'%}
    		      </div>
    		      <div class="text-center">
    			    <a class="btn btn-danger" href="{% url 'shop:product_remove' product.id product.slug %}"><span class="glyphicon glyphicon-remove"></span></a>
    			    <a class="btn btn-primary"  href="{% url 'shop:product_edit' product.id product.slug %}"><span class="glyphicon glyphicon-ok"></span></a>
    			  </div>
    		    </div>
    		</div> -->
    	 </div>
    	 <!--implementing counter views with redis /not available in  PA-->
    	<!--<div class=" text-right col-md-4 col-md-offset-4" style="float: right;">-->
    	<!--  <span class="count">-->
    	<!--	<span class="total">{{ total_views }}</span>-->
    	<!--	{% trans 'View'%}{{ total_views|pluralize }}-->
    	<!--  </span>-->
    	<!--</div>-->
    	 </br></br>
    	 {% endif %}
    	<div class="col-md-offset-6">
    	  <form class="form-inline" style="float: right;" action="{% url 'cart:cart_add' product.id%}" method="post">
    		<div class="form-group  ">
    			{% crispy cart_form %}
    			{% csrf_token %}
    		</div>
    	  </form>
    	</div>
    </div>
    </div>
</div>


<div class="container-fluid">
    <hr class="custom">
  <div id="author-accordion">
	<div class="no-padding panel-group" id="accordion">
	  <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 ">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      <h4 class="lead panel-title text-center"> {% trans 'Handcrafted by:'%}{{craftsman.get_full_name }}
		      </h4>
		    </a>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse">
		    <div class="panel-body text-center">
		      <h3 style="font-family:Lobster;" ><font color="black">{{craftsman.get_short_name }}</font></h3>
		      	<img data-toggle="popover"  data-placement="auto bottom" data-content=" <blockquote class='lead' >{% if craftsman.bio%}{{ craftsman.bio }}{% else%}{% trans 'I invite you to see my profile '%}{% endif %}</blockquote> " title=" <h4><a href='{% url 'profiles:show' craftsman.slug %}'>{{craftsman.get_short_name }}</a></h4>" class="img-circle img-responsive img-thumbnail" src="{% thumbnail craftsman.picture|default:'default_profile.png' 150x150 crop %}">
		    </div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  <div id="description-accordion">
 	<div class="no-padding panel-group center-block" id="accordion" >
	  <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
	    <div class=" panel panel-default">
	      <div class="panel-heading">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
	          <h4 class="panel-title text-center">
	          {% trans 'Description:'%}
	          </h4>
	        </a>
	   	  </div>
	      <div id="collapse2" class="collapse collapse">
	      	<div class="panel-body">
	      	  <h3  style="font-family:Lobster;" ><font color="black">{{ product.name }}</font></h3>
	      		<p class="lead">{{product.description}}</p>
	      	</div>
	      </div>
	 	</div>
	  </div>
  	</div>
  </div>
</div>


{% endblock container %}


{% block scripts %}
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src = "{%static 'site/js/jquery.justifiedGallery.js' %}"></script>
<script>
    $("#detail").justifiedGallery({
    rowHeight : 400,
    maxRowHeight : 350,
    lastRow : 'nojustify',
    // nojustify or hide for last image
    margins : 10
    });
</script>
<script>
	$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
	});
</script>
<script>
	$("[data-toggle=popover]")
	.popover({html:true})
</script>
 <script>
  $('.popover-markup>.trigger').popover({
    html: true,
    title: function () {
        return $(this).parent().find('.head').html();
    },
    content: function () {
        return $(this).parent().find('.content').html();
    }
});
  </script>
<script>
	function close_please() {
    $('#meddelanden').popover('hide');
}
</script>
{% endblock scripts %}