{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n%}

 


{% block title %}{{ block.super }}{% endblock %}



<!-- code for the shop -->
<link href="{% static 'site/css/main.css' %}" rel="stylesheet">

{% block container %}	

<div id="header">
	<!-- <p class="text-center ">{% trans 'Gallery' %}</p>	 -->
</div>
<div id="subheader">
	<div class="cart">
		{% with total_items=cart|length %}
		<span class="glyphicon glyphicon-shopping-cart"></span>
			{% if cart|length > 0 %}
			{% trans 'Your choices:' %}			
				<a href="{% url "cart:cart_detail" %}">
					{{ total_items }} artículo{{ total_items|pluralize }},
					${{ cart.get_total_price }}
				</a>
			{% else %}
			{% trans 'Your cart is empty'%}
			:(
			{% endif %}
		{% endwith %}
	</div>
</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>


{% endblock %}
{% block scripts %}
{% endblock scripts %}